.header {
    position: absolute;
    width: 100%;
    top: 20px;
    height: 200px;
    z-index: 10;

    &__container {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__list {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        padding: 4px;
        border-radius: 40px;
        background: rgba(1, 1, 1, 0.05);
        height: 40px;
        font-size: r(16);
        line-height: 100%;
        color: rgb(255, 255, 255);
        
        li {
            @include t_Inter();
            padding: 8px 20px 8px 20px;
        }
    }
}
.HeaderList {
    &_active {
        color: rgb(1, 1, 1);
        border-radius: 26px;
        background: rgb(255, 255, 255);
    }
}


@media (max-width: 590px) {
    .header {
        &__list {
            flex-wrap: wrap;
            height: auto;
        }
    }
}

.header-link {
    cursor: pointer;

    &:hover {
        color: rgb(189, 189, 189);
    }
}